<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.venturisys.rubideliveryapp">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_box"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_box_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.BrowserActivity"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter android:label="@string/activity_title_browser">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.venturisys.co.ke/” -->
                <data
                    android:host="www.venturisys.co.ke"
                    android:pathPrefix="/"
                    android:scheme="http" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProfileImageActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/ImageAppTheme" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OrderActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.OrderPagerActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/SplashScreenTheme" />
    </application>

</manifest>
